.player-name {
        width: 300px;
        height: 44px;
        padding: 10px;
        margin-right: 7px;
        font-family: Cambria, Monaco, fantasy;
        font-size: 40px;
        color: grey;
}

.registered-player {
        .player-name {
                position: relative;
                top: -18px;
                margin-left: 5px;
                display: inline-block;
                border: none;
        }
}

.unregistered-player {
        .player-name {
                border: solid 1px lightgrey;
                border-radius: 2px;
        }
}

.select-color {
        display: inline-block;
        width: 113px;
        vertical-align: super;
        div[class$="-ValueContainer"] {
                height: 69px;
                padding: 0;
        }
        div[class$="-control"] {
                border: none;
        }
}
