#messages{
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: solid black 1px;
}

.active{
	font-weight: bold;
}

.face{
    width: 30px;
    height: auto;
}

.face-small{
    width: 20px;
    height: auto;
}

.player{
	width: 150px;
	height: 30px;
}

.action{
	height: 30px;
	border: solid black 1px;
}

.number{
	font-weight: bolder;
	font-size: 35px;
	color: black;
	font: "Verdana"
}